<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItemPage</title>
    <link rel="stylesheet" href="../../assets/styles/reset.css">
    <link rel="stylesheet" href="./itempage.css">
</head>
<body class="body">
    <div class="itempage">
        <h2 class="itempage__light">Light</h2>
        <img src="../../assets/icons/ItemPage/Ellipse 8.svg" alt="ellipse" class="itempage-ellipse">
        <nav class="itempage-nav">
            <ul class="itempage-nav__menu">
                <li id="menuHome" class="itempage-item">Home</li>
                <li id="menuCompany" class="itempage-item">Company</li>
                <li id="menuFeatures" class="itempage-item">Features</li>
            </ul>
            <button id="headerAuthBtn" type="submit" class="itempage-nav__auth">Sign In</button>
        </nav>
    </div>
    <img src="../../assets/images/ItemPage/vr-touch-big.jpg" alt="virtual reality" class="itempage-img">
    <div class="itempage-ellipses">
        <img src="../../assets/icons/ItemPage/Ellipse 7.svg" alt="ellipse" class="itempage-ellipse-right">
        <img src="../../assets/icons/ItemPage/Ellipse 6.svg" alt="ellipse" class="itempage-ellipse-left">
    </div>
    <div class="itempage__info">
        <h2 class="itempage__name">Metaverse</h2>
        <p class="itempage__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum qui omnis dolorum vitae facilis nisi quibusdam voluptate optio iusto dolorem, reprehenderit id, quisquam eveniet suscipit exercitationem. Pariatur, sunt quos?</p>
    </div>
</body>
</html>